{% load staticfiles %}
<html>
  <head>
    <title>MotoGP-Challenge</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'plugins/bootstrap-3.3.5/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap-slider/css/bootstrap-slider.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/morrisjs/morris.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/font-awesome-4.5.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

    <script src="{% static 'plugins/jquery-1.11.3/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.3.5/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-slider/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'js/djangoAjax.js' %}"></script>
    <script src="{% static 'plugins/raphael/raphael-min.js' %}"></script>
    <script src="{% static 'plugins/morrisjs/morris.min.js' %}"></script>

  </head>
  <body>
    <div class="container">
      
      {% include "manager/_navbar.html" %}

      {% include "_message.html" %}


      <h1>{% block title %} {% endblock %}</h1>

      {% block contenido %} {% endblock %}

      {% include "manager/footer.html" %}

    </div> <!-- /container -->

  </body>
</html>